#contentContainer {
width: 660px;
float: left;
	
}

#contentContainer #content {

}

#sidebarContainer {
	width: 280px;
	float: right;

}

#sidebarContainer #sidebar {
	margin-top: 40px;
	border: 1px solid #333;
	padding-left: 10px;
	padding-right: 10px;
	border-color: #999999;
	border-radius: 10px;
	background-color: #eeeeee;
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.49);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.49);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.49);
}

#sidebarContainer .sideHeader {
	display: none;
	margin-top: 40px;
	padding-left: 10px;
	padding-right: 10px;
	/*border: 1px solid #333;*/
	
}

.sidebar_blurb {
	color: #666666;
	font-size: 16px;
}